<div id="fh5co-aside">
	<div class="image-bg"></div>
	<div class="overlay"></div> 
	<div class="row">
		<div class="col-md-12">
			<div id="fh5co-aside-inner">
				<div class="row" id="fh5co-bio">
					<div class="col-md-12">
						<h2>About Me</h2>
					</div>
					<div class="col-md-6">
						<p>Sint, <a href="#">consectetur</a>, fugit. Sed, blanditiis. Autem quae perferendis totam provident, consequuntur inventore reiciendis vitae suscipit rerum repellendus facere voluptatem tenetur iure praesentium corrupti asperiores eos laborum debitis eaque maiores magnam nisi exercitationem sunt maxime! At eligendi deserunt, iusto natus molestias!</p>
					</div>
					<div class="col-md-6">
						<p>Quas praesentium dolore unde delectus, nemo accusantium, qui ab illum debitis assumenda tempore molestias ipsam, eveniet repellendus officiis in vel, explicabo quos necessitatibus atque doloremque. Quae maiores delectus, magnam nam.</p>
					</div>

					{% include social-icons.html %}

					<div class="col-md-12" style="margin-top: 40px;">
						<p>&copy; 2018. All rights Reserved Developed By. <a href="http://gettemplates.co/">ICS</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>